body{
  margin:0;
  font-family:Arial;
}

.hero{
  background:#0f172a;
  color:white;
  padding:80px 20px;
  text-align:center;
}

.hero button{
  padding:10px 20px;
  margin-top:15px;
  cursor:pointer;
}

.features{
  display:flex;
  justify-content:space-around;
  padding:40px;
}

.features div{
  width:30%;
  text-align:center;
}
